## Data Filtering

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
yeast_df = pd.read_csv("data/BIOGRID-ORGANISM-Saccharomyces_cerevisiae_S288c-4.2.191.tab3.txt",
                        sep = "\t")

C:\Users\thoma\miniconda3\envs\capstone\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (1,2,18) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
yeast_df.shape

(756225, 37)

In [5]:
yeast_df.head()

,#BioGRID Interaction ID,Entrez Gene Interactor A,Entrez Gene Interactor B,BioGRID ID Interactor A,BioGRID ID Interactor B,Systematic Name Interactor A,Systematic Name Interactor B,Official Symbol Interactor A,Official Symbol Interactor B,Synonyms Interactor A,...,TREMBL Accessions Interactor B,REFSEQ Accessions Interactor B,Ontology Term IDs,Ontology Term Names,Ontology Term Categories,Ontology Term Qualifier IDs,Ontology Term Qualifier Names,Ontology Term Types,Organism Name Interactor A,Organism Name Interactor B
0,68770,851136,854020,31676,34272,YLR418C,YOL145C,CDC73,CTR9,L000002792,...,-,NP_014496,-,-,-,-,-,-,Saccharomyces cerevisiae (S288c),Saccharomyces cerevisiae (S288c)
1,68771,854020,851136,34272,31676,YOL145C,YLR418C,CTR9,CDC73,CDP1|L000003477,...,-,NP_013522,-,-,-,-,-,-,Saccharomyces cerevisiae (S288c),Saccharomyces cerevisiae (S288c)
2,68774,851136,854290,31676,34518,YLR418C,YOR123C,CDC73,LEO1,L000002792,...,-,NP_014766,-,-,-,-,-,-,Saccharomyces cerevisiae (S288c),Saccharomyces cerevisiae (S288c)
3,68775,854290,851136,34518,31676,YOR123C,YLR418C,LEO1,CDC73,L000000936,...,-,NP_013522,-,-,-,-,-,-,Saccharomyces cerevisiae (S288c),Saccharomyces cerevisiae (S288c)
4,68778,851136,852582,31676,32973,YLR418C,YBR279W,CDC73,PAF1,L000002792,...,-,NP_009838,-,-,-,-,-,-,Saccharomyces cerevisiae (S288c),Saccharomyces cerevisiae (S288c)

In [6]:
yeast_df.columns

Index(['#BioGRID Interaction ID', 'Entrez Gene Interactor A',
       'Entrez Gene Interactor B', 'BioGRID ID Interactor A',
       'BioGRID ID Interactor B', 'Systematic Name Interactor A',
       'Systematic Name Interactor B', 'Official Symbol Interactor A',
       'Official Symbol Interactor B', 'Synonyms Interactor A',
       'Synonyms Interactor B', 'Experimental System',
       'Experimental System Type', 'Author', 'Publication Source',
       'Organism ID Interactor A', 'Organism ID Interactor B', 'Throughput',
       'Score', 'Modification', 'Qualifications', 'Tags', 'Source Database',
       'SWISS-PROT Accessions Interactor A', 'TREMBL Accessions Interactor A',
       'REFSEQ Accessions Interactor A', 'SWISS-PROT Accessions Interactor B',
       'TREMBL Accessions Interactor B', 'REFSEQ Accessions Interactor B',
       'Ontology Term IDs', 'Ontology Term Names', 'Ontology Term Categories',
       'Ontology Term Qualifier IDs', 'Ontology Term Qualifier Names',
       'Ontology Term Types', 'Organism Name Interactor A',
       'Organism Name Interactor B'],
      dtype='object')

In [7]:
yeast_df.iloc[0]

#BioGRID Interaction ID                                          68770
Entrez Gene Interactor A                                        851136
Entrez Gene Interactor B                                        854020
BioGRID ID Interactor A                                          31676
BioGRID ID Interactor B                                          34272
Systematic Name Interactor A                                   YLR418C
Systematic Name Interactor B                                   YOL145C
Official Symbol Interactor A                                     CDC73
Official Symbol Interactor B                                      CTR9
Synonyms Interactor A                                       L000002792
Synonyms Interactor B                                  CDP1|L000003477
Experimental System                                Affinity Capture-MS
Experimental System Type                                      physical
Author                                                Krogan NJ (2004)
Publication Source                                     PUBMED:14759368
Organism ID Interactor A                                        559292
Organism ID Interactor B                                        559292
Throughput                                             High Throughput
Score                                                                -
Modification                                                         -
Qualifications                                                       -
Tags                                                                 -
Source Database                                                BIOGRID
SWISS-PROT Accessions Interactor A                              Q06697
TREMBL Accessions Interactor A                                       -
REFSEQ Accessions Interactor A                               NP_013522
SWISS-PROT Accessions Interactor B                              P89105
TREMBL Accessions Interactor B                                       -
REFSEQ Accessions Interactor B                               NP_014496
Ontology Term IDs                                                    -
Ontology Term Names                                                  -
Ontology Term Categories                                             -
Ontology Term Qualifier IDs                                          -
Ontology Term Qualifier Names                                        -
Ontology Term Types                                                  -
Organism Name Interactor A            Saccharomyces cerevisiae (S288c)
Organism Name Interactor B            Saccharomyces cerevisiae (S288c)
Name: 0, dtype: object

In [8]:
yeast_df['SWISS-PROT Accessions Interactor A'] = yeast_df['SWISS-PROT Accessions Interactor A'].apply(lambda s: s.split('|'))
yeast_df['SWISS-PROT Accessions Interactor B'] = yeast_df['SWISS-PROT Accessions Interactor B'].apply(lambda s: s.split('|'))
yeast_df = yeast_df.explode('SWISS-PROT Accessions Interactor A', ignore_index=True).explode('SWISS-PROT Accessions Interactor B', ignore_index=True)

In [9]:
yeast_df.shape

(769110, 37)

In [10]:
yeast_df.drop(yeast_df[yeast_df['SWISS-PROT Accessions Interactor A'] == '-'].index, inplace=True)
yeast_df.drop(yeast_df[yeast_df['SWISS-PROT Accessions Interactor B'] == '-'].index, inplace=True)
yeast_df.shape

(766596, 37)

In [11]:
#loading Convervative data from Positome

In [12]:
yeast_cons_pp = pd.read_csv("data/conservative_data/protein_pairs_conservative.txt",
                        sep = "\t", header=None)

In [13]:
yeast_cons_pp.head()

        0       1
0  P47112  P32833
1  P32585  P19659
2  P40013  P09733
3  P36122  Q12114
4  P36053  P19454

In [16]:
yeast_cons_ps_CDHIT = pd.read_csv("data/conservative_data/output_sequences.fasta",
                        sep = "\t", header=None)

In [28]:
yeast_cons_ps_CDHIT.head()

                                                   0
0                                           > P39937
1  MTYEIGDRLKIGGYFCTIKFIGVIKPWPSVKAYGVEWDDHSRGKHS...
2                                           > P38764
3  MVDESDKKQQTIDEQSQISPEKQTPNKKDKKKEEEEQLSEEDAKLK...
4                                           > P53127

In [46]:
import re
new_df = yeast_cons_ps_CDHIT.iloc[::2]
new_df[0] = new_df[0].apply(lambda x: str(x)[2:])
new_df

<ipython-input-46-d20fd66feae4>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df[0] = new_df[0].apply(lambda x: str(x)[2:])

           0
0     P39937
2     P38764
4     P53127
6     Q03214
8     P36132
...      ...
7310  Q12404
7312  Q06116
7314  Q04409
7316  P54783
7318  P25616

[3660 rows x 1 columns]

In [47]:
yeast_cons_ps_CDHIT_set = set(new_df[0])

In [50]:
'Q04409' in yeast_cons_ps_CDHIT_set

True

In [58]:
yeast_cons_pp_CDHIT = yeast_cons_pp[yeast_cons_pp[0].map(lambda x: x in yeast_cons_ps_CDHIT_set)]
yeast_cons_pp_CDHIT = yeast_cons_pp_CDHIT[yeast_cons_pp_CDHIT[1].map(lambda x: x in yeast_cons_ps_CDHIT_set)]
yeast_cons_pp_CDHIT

            0       1
0      P47112  P32833
1      P32585  P19659
2      P40013  P09733
3      P36122  Q12114
4      P36053  P19454
...       ...     ...
15219  P53725  P38792
15220  P19073  Q12434
15221  P40449  P53971
15222  P11484  P38792
15223  Q06406  P39517

[14658 rows x 2 columns]

In [55]:
yeast_cons_pp

            0       1
0      P47112  P32833
1      P32585  P19659
2      P40013  P09733
3      P36122  Q12114
4      P36053  P19454
...       ...     ...
15219  P53725  P38792
15220  P19073  Q12434
15221  P40449  P53971
15222  P11484  P38792
15223  Q06406  P39517

[15224 rows x 2 columns]

In [71]:
yeast_cons_pp_CDHIT.to_csv(path_or_buf = "./data/yeast_pp_CDHit.tsv",
                           sep = "\t")

In [72]:
new_df.to_csv(path_or_buf = "./data/yeast_ps_CDHit.tsv",
                           sep = "\t")