In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
yeast_df = pd.read_csv("data/BIOGRID-ORGANISM-Saccharomyces_cerevisiae_S288c-4.2.191.tab3.txt",
                        sep = "\t") #https://downloads.thebiogrid.org/BioGRID/Cytoscape-Plugin/BioGRIDPlugin2/Version-2.2/

C:\Users\thoma\miniconda3\envs\capstone\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (1,2,18) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
yeast_df.head()

,#BioGRID Interaction ID,Entrez Gene Interactor A,Entrez Gene Interactor B,BioGRID ID Interactor A,BioGRID ID Interactor B,Systematic Name Interactor A,Systematic Name Interactor B,Official Symbol Interactor A,Official Symbol Interactor B,Synonyms Interactor A,...,TREMBL Accessions Interactor B,REFSEQ Accessions Interactor B,Ontology Term IDs,Ontology Term Names,Ontology Term Categories,Ontology Term Qualifier IDs,Ontology Term Qualifier Names,Ontology Term Types,Organism Name Interactor A,Organism Name Interactor B
0,68770,851136,854020,31676,34272,YLR418C,YOL145C,CDC73,CTR9,L000002792,...,-,NP_014496,-,-,-,-,-,-,Saccharomyces cerevisiae (S288c),Saccharomyces cerevisiae (S288c)
1,68771,854020,851136,34272,31676,YOL145C,YLR418C,CTR9,CDC73,CDP1|L000003477,...,-,NP_013522,-,-,-,-,-,-,Saccharomyces cerevisiae (S288c),Saccharomyces cerevisiae (S288c)
2,68774,851136,854290,31676,34518,YLR418C,YOR123C,CDC73,LEO1,L000002792,...,-,NP_014766,-,-,-,-,-,-,Saccharomyces cerevisiae (S288c),Saccharomyces cerevisiae (S288c)
3,68775,854290,851136,34518,31676,YOR123C,YLR418C,LEO1,CDC73,L000000936,...,-,NP_013522,-,-,-,-,-,-,Saccharomyces cerevisiae (S288c),Saccharomyces cerevisiae (S288c)
4,68778,851136,852582,31676,32973,YLR418C,YBR279W,CDC73,PAF1,L000002792,...,-,NP_009838,-,-,-,-,-,-,Saccharomyces cerevisiae (S288c),Saccharomyces cerevisiae (S288c)

In [4]:
yeast_df.columns

Index(['#BioGRID Interaction ID', 'Entrez Gene Interactor A',
       'Entrez Gene Interactor B', 'BioGRID ID Interactor A',
       'BioGRID ID Interactor B', 'Systematic Name Interactor A',
       'Systematic Name Interactor B', 'Official Symbol Interactor A',
       'Official Symbol Interactor B', 'Synonyms Interactor A',
       'Synonyms Interactor B', 'Experimental System',
       'Experimental System Type', 'Author', 'Publication Source',
       'Organism ID Interactor A', 'Organism ID Interactor B', 'Throughput',
       'Score', 'Modification', 'Qualifications', 'Tags', 'Source Database',
       'SWISS-PROT Accessions Interactor A', 'TREMBL Accessions Interactor A',
       'REFSEQ Accessions Interactor A', 'SWISS-PROT Accessions Interactor B',
       'TREMBL Accessions Interactor B', 'REFSEQ Accessions Interactor B',
       'Ontology Term IDs', 'Ontology Term Names', 'Ontology Term Categories',
       'Ontology Term Qualifier IDs', 'Ontology Term Qualifier Names',
       'Ontology Term Types', 'Organism Name Interactor A',
       'Organism Name Interactor B'],
      dtype='object')

In [5]:
len(yeast_df.columns)

37

In [6]:
yeast_df.iloc[0]

#BioGRID Interaction ID                                          68770
Entrez Gene Interactor A                                        851136
Entrez Gene Interactor B                                        854020
BioGRID ID Interactor A                                          31676
BioGRID ID Interactor B                                          34272
Systematic Name Interactor A                                   YLR418C
Systematic Name Interactor B                                   YOL145C
Official Symbol Interactor A                                     CDC73
Official Symbol Interactor B                                      CTR9
Synonyms Interactor A                                       L000002792
Synonyms Interactor B                                  CDP1|L000003477
Experimental System                                Affinity Capture-MS
Experimental System Type                                      physical
Author                                                Krogan NJ (2004)
Publication Source                                     PUBMED:14759368
Organism ID Interactor A                                        559292
Organism ID Interactor B                                        559292
Throughput                                             High Throughput
Score                                                                -
Modification                                                         -
Qualifications                                                       -
Tags                                                                 -
Source Database                                                BIOGRID
SWISS-PROT Accessions Interactor A                              Q06697
TREMBL Accessions Interactor A                                       -
REFSEQ Accessions Interactor A                               NP_013522
SWISS-PROT Accessions Interactor B                              P89105
TREMBL Accessions Interactor B                                       -
REFSEQ Accessions Interactor B                               NP_014496
Ontology Term IDs                                                    -
Ontology Term Names                                                  -
Ontology Term Categories                                             -
Ontology Term Qualifier IDs                                          -
Ontology Term Qualifier Names                                        -
Ontology Term Types                                                  -
Organism Name Interactor A            Saccharomyces cerevisiae (S288c)
Organism Name Interactor B            Saccharomyces cerevisiae (S288c)
Name: 0, dtype: object

In [7]:
yeast_df['Author']

0           Krogan NJ (2004)
1           Krogan NJ (2004)
2           Krogan NJ (2004)
3           Krogan NJ (2004)
4           Krogan NJ (2004)
                 ...
756220    Castelli LM (2015)
756221    Castelli LM (2015)
756222    Castelli LM (2015)
756223    Castelli LM (2015)
756224    Castelli LM (2015)
Name: Author, Length: 756225, dtype: object

In [8]:
yeast_df['Author'].tail(10)

756215    Castelli LM (2015)
756216    Castelli LM (2015)
756217    Castelli LM (2015)
756218    Castelli LM (2015)
756219    Castelli LM (2015)
756220    Castelli LM (2015)
756221    Castelli LM (2015)
756222    Castelli LM (2015)
756223    Castelli LM (2015)
756224    Castelli LM (2015)
Name: Author, dtype: object

In [9]:
yeast_df.columns[2]

'Entrez Gene Interactor B'

In [10]:
# import warnings
# warnings.filterwarnings('ignore')

yeast_3DID = pd.read_csv("data/3did_flat_Apr_10_2020.dat",
                        sep = "\t", header = None,
                        names=[0,1,2,3,4,5,6]) #https://3did.irbbarcelona.org/download.php

# warnings.resetwarnings()

In [11]:
yeast_3DID.head()

,0,1,2,3,4,5,6
0,#=ID,1-cysPrx_C,1-cysPrx_C,(PF10417.9@Pfam,PF10417.9@Pfam),NaN,NaN
1,#=3D,5jcg,A:157-192,H:157-192,1.1,1.50646,2:2
2,Q,E,159,162,sm,NaN,NaN
3,Q,T,159,163,sm,NaN,NaN
4,E,Q,162,159,ms,NaN,NaN

In [12]:
yeast_3DID.tail()

           0    1     2     3    4   5    6
21983956   V    G  153   158    sm NaN  NaN
21983957   V    L  153   159    ss NaN  NaN
21983958   C    L  154   159    ms NaN  NaN
21983959   K    K  157   157    sm NaN  NaN
21983960  //  NaN   NaN   NaN  NaN NaN  NaN

In [13]:
id_indices_3did = yeast_3DID[0].loc[yeast_3DID[0] == '#=ID'].index
id_indices_3did

Int64Index([       0,      489,    17346,    17505,    17551,    17560,
               24675,    24777,    25600,    25610,
            ...
            21980373, 21981657, 21981733, 21981833, 21981862, 21982157,
            21982178, 21983337, 21983498, 21983742],
           dtype='int64', length=14278)

In [79]:
yeast_3DID_pfam = yeast_3DID[[3,4]].iloc[id_indices_3did]
yeast_3DID_pfam

                          3                 4
0           (PF10417.9@Pfam   PF10417.9@Pfam)
489         (PF10417.9@Pfam  PF00578.21@Pfam)
17346       (PF10417.9@Pfam  PF02195.18@Pfam)
17505       (PF10417.9@Pfam  PF00085.20@Pfam)
17551       (PF12574.8@Pfam   PF12574.8@Pfam)
...                     ...               ...
21982157   (PF05707.12@Pfam  PF05707.12@Pfam)
21982178    (PF16916.5@Pfam   PF16916.5@Pfam)
21983337   (PF00791.20@Pfam  PF00791.20@Pfam)
21983498    (PF09817.9@Pfam   PF09817.9@Pfam)
21983742   (PF00569.17@Pfam  PF00569.17@Pfam)

[14278 rows x 2 columns]

In [80]:
yeast_3DID_pfam.columns=["Pfam ID A","Pfam ID B"]
yeast_3DID_pfam.reset_index(inplace=True, drop=True)
yeast_3DID_pfam.head()

          Pfam ID A         Pfam ID B
0   (PF10417.9@Pfam   PF10417.9@Pfam)
1   (PF10417.9@Pfam  PF00578.21@Pfam)
2   (PF10417.9@Pfam  PF02195.18@Pfam)
3   (PF10417.9@Pfam  PF00085.20@Pfam)
4   (PF12574.8@Pfam   PF12574.8@Pfam)

In [81]:
type(yeast_3DID_pfam.iloc[0,0])

str

In [82]:
import re
# yeast_3DID_pfam['Pfam ID A'] = yeast_3DID_pfam['Pfam ID A'].apply(lambda x: x.strip('@Pfam'))
# yeast_3DID_pfam['Pfam ID A'] = yeast_3DID_pfam['Pfam ID A'].apply(lambda x: x.strip('('))
yeast_3DID_pfam['Pfam ID A'] = yeast_3DID_pfam['Pfam ID A'].apply(lambda x: re.findall(r'\((.+?)\.', x)[0])
yeast_3DID_pfam['Pfam ID B'] = yeast_3DID_pfam['Pfam ID B'].apply(lambda x: re.findall(r'.*(?=\.)', x)[0])

In [83]:
yeast_3DID_pfam

      Pfam ID A Pfam ID B
0       PF10417   PF10417
1       PF10417   PF00578
2       PF10417   PF02195
3       PF10417   PF00085
4       PF12574   PF12574
...         ...       ...
14273   PF05707   PF05707
14274   PF16916   PF16916
14275   PF00791   PF00791
14276   PF09817   PF09817
14277   PF00569   PF00569

[14278 rows x 2 columns]